<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <form action="/news/<%= news.id %>/edit" method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; width: 300px; gap: 10px">
        <input type="text" name="title" value="<%= news.title %>">
        <textarea name="content"><%= news.content %></textarea>

        <% if (news.image) { %>
            <img src="/uploads/<%= news.image %>" style="max-width:200px">
        <% } %>

        <input type="file" name="image" accept="image/*">
        <button type="submit">Salvesta muudatused</button>
    </form>

    <a href="/">Tagasi avalehele</a>
</body>
</html>