<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <style>
        html {
            font-size: 18px;
        }

        .success {
            background-color: green;
            padding: 10px;
            color: white;
        }

        .error {
            background-color: red;
            padding: 10px;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Uudised</h1>

    <% if (msg === 'deleted') { %>
        <p class="success">Postitus kustutati</p>
    <% } %>

    <% if (msg === 'delete_failed') { %>
        <p class="error">Postitust ei õnnestunud kustutada</p>
    <% } %>

<% news.forEach(n => { %>
    <h2>
        <a href="/news/<%= n.id %>"><%= n.title %></a>
    </h2>

    <% if (n.image) { %>
        <img src="/uploads/<%= n.image %>" style="max-width:100px"> <br>
    <% } %>

    <p><%= n.content %></p>
    <!--<a href="/news/delete/<%= n.id %>">Kustuta</a>-->

    <div style="display: flex; flex-direction: row">
        <form action="/news/<%= n.id %>/edit" method="GET">
            <button type="submit">Muuda</button>
        </form>

        <form action="/news/delete" method="POST" onsubmit="return confirm('Kas oled kindel, et soovid selle uudise kustutada?');">
            <input type="hidden" name="id" value="<%= n.id %>">
            <button type="submit">Kustuta</button>
        </form>
    </div>
<% }) %>

    <br><br>

    <form action="/search" method="GET">
        <input type="text" name="q">
        <button type="submit">Otsi</button>
    </form>

    <br>
    <a href="news/create">Lisa uudis</a>

</body>
</html>